* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.inter-fonts {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.noto-serif-fonts {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


/* shared styles */
header,
main {
    max-width: 1140px;
    margin: 0 auto;
}

.dark-p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.dark-h {
    color: rgb(0, 0, 0);
}

h2 {
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.font-highlight {
    color: rgb(233, 90, 8);
}

.btn-1 {
    color: white;
    background-color: rgb(233, 90, 8);
    border: none;
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
    text-align: center;
    width: 100%;
}

/* navbar styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 8rem;
}

nav>div {
    display: flex;
    align-items: center;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav>ul>li {
    list-style: none;
    margin-left: 2.5rem;
}


nav>ul>li>a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
}

/* banner styles */
h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.banner {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 8rem;
}

.banner figure img {
    border: 1px dashed gray;
}

/* our plants section */

.our-plants {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.plant-description>p {
    margin-bottom: 1.75rem;
}

.plant-details {
    margin: 1rem 0;
}

.plant-details>p,
.plant-details>h3 {
    margin-bottom: 1rem;
    font-size: 1.75rem;
    font-weight: 500;
}

.plants-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-bottom: 12rem;
}

/* plants lovers comment section */
.planet-lovers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.lovers-image,
.lovers-comments {
    max-width: 47%;
}

.lovers-comments>ul {
    padding-left: 1.75rem;
}

.lovers-comments>ul>li {
    margin-bottom: 1rem;
}

.comments-heading {
    font-size: 64px;
    margin: 2rem 0;
}


.lovers-image {
    position: relative;
}

.gradient-fig {
    background: linear-gradient(180.00deg, rgba(103, 171, 234, 0.24), rgba(233, 90, 8, 0.6) 100%);
}

/* batch logo */
#batch-figure {
    max-width: 200px;
    max-height: 200px;
    position: absolute;
    right: -85px;
    top: -80px;
}

#batch-image {
    width: 100%;
    height: 100%;
}


/* latest deals section styles*/
.latest-deals {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 4rem;
}

.deal-description {
    margin-bottom: 4rem;
}

#deal-1 {
    background-image: url("../assets/deal-bloom.png");
    font-size: 20px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border-radius: 0.5rem;
    width: 366.22px;
    height: 206px;
    filter: brightness(75%);
}

#deal-2 {
    background-image: url("../assets/deal-ana.png");
    font-size: 20px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border-radius: 0.5rem;
    width: 366.22px;
    height: 206px;
    filter: brightness(75%);
}

#deal-3 {
    background-image: url("../assets/deal-zabo.png");
    font-size: 40px;
    font-weight: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border-radius: 0.5rem;
    width: 753px;
    height: calc(412px + 2rem);
    filter: brightness(75%);
}

.first-2 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
}

.deals-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr) 2fr;
    gap: 2rem;
}

/* join section styles */
#join {
    width: 100%;
    height: 533px;
    background-image: url("../assets/news-letter-bg.png");
    background-position: center;
    background-size: cover;
    filter: brightness(90%);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#join>h2 {
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: white;
}


#email {
    font-size: 1rem;
    padding: 0.5rem;
    width: 400px;
    border: none;
    margin: 0.5rem 0;
    display: inline;
}

#subscribe {
    color: white;
    background-color: rgb(233, 90, 8);
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
    margin: 0.5rem 0 0 -10px;
    display: inline;
}


/* mobile responsive */
@media screen and (max-width: 576px) {

    /* shared styles */
    nav,
    .banner figure,
    .banner-description,
    .our-plants,
    .planet-lovers {
        max-width: 95vw;
        margin: 2rem auto;
    }

    .btn-1 {
        color: white;
        background-color: rgb(233, 90, 8);
        border: none;
        padding: 1rem 0;
        font-size: 1rem;
        text-align: center;
        width: 100%;
    }

    /* navbar responsive */
    nav>ul>li {
        display: none;
    }

    nav>ul>li:nth-child(4) {
        display: contents;
    }

    /* banner responsiveness */
    .banner {
        flex-direction: column-reverse;
        margin-bottom: 3rem;
    }

    .banner h1 {
        font-size: 3rem;
    }

    .banner figure img {
        width: 100%;
    }

    /* our plants section */
    .plants-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        margin-bottom: 2rem;
    }

    .plant>figure {
        max-width: 47vw;
    }

    .plant>figure>img,
    .gradient-image {
        width: 100%;
    }

    /* planet-lovers section */
    .planet-lovers {
        flex-direction: column;
    }

    .comments-heading {
        font-size: 2rem;
        margin: 2rem 0;
    }

    .gradient-fig {
        width: 95vw;
    }

    /* batch figure */
    #batch-figure {
        display: none;
    }

    .lovers-comments {
        max-width: 95vw;
    }

    .lovers-comments>ul {
        padding-left: 1rem;
    }

    /* latest deal section */
    .deal-description>h2 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    .deal-description>p {
        text-align: center;
    }

    .first-2 {
        gap: 1rem;
        align-content: center;
    }

    .deals-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        align-content: center;
    }

    #deal-1,
    #deal-2,
    #deal-3 {
        font-size: 20px;
        width: 85vw;
        height: 206px;
    }

    #deal-1>img,
    #deal-2>img,
    #deal-3>img {
        width: 100%;
    }

    /* join section */

    
    #email{
        width: 200px;
    }
}